{% extends "layout.html.twig" %}

{% block title %}add{% endblock %}

{% block content %}


<h1>Ajouter un item</h1>

    <form method="post">

        <input type="text" name="title">
        <button type="submit" value="envoyer" name="envoyer">envoyer</button>


    </form>

{% endblock %}