{% extends "layout.html.twig" %}

{% block title %}delete{% endblock %}

{% block content %}


    <h1>Supprimer une cat</h1>

    <form method="post">

        <p>{{ category.name }}</p>

        <button class="btn btn-danger" type="submit" value="supprimer" name="supprimer">supprimer</button>


    </form>

{% endblock %}